body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    
}
@font-face {
    @font-face {
        font-family: 'Poppins';
        src:    url('ressource/fonts/Poppins/Poppins-Black.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-Italic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-Thin.ttf') format('truetype'),
                url('ressource/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
}
.main-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 40px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 7px;
}
.drop{
    height: 37px;
}
.slogo{
    font-weight: bold;
}
.menu{
    display: flex;
    gap: 40px;   
    font-weight: 500;    
}
.body-section1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.texte{
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
    padding: 73px;
    color: white;
}
.envoyer{
    font-weight: bold;
    font-size: 35px;


    width: 71%;
}
.une-solution{
    font-size: 12px;
    width: 43%;
}
.btn-obtenez{
    border: none;
    width: 203px;
    padding: 13px;
    border-radius: 12px;
    color: white;
    background-color: #feb75f;
}
.image-drop{    
    width: 100%;
}
.dropp{    
    WIDTH: 100%;       
    margin-left: -116px;       
    margin-top: 96px;
}
.Section1{
    background: linear-gradient(#819bde, #ebcc99);
} 
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}
.liv-rapide{

font-size: 33px;

font-weight: 900;

text-align: center;

width: 51%;

margin-top: 58px;
}
.liv-national{

width: 57%;

text-align: center;
}
.four-description{
    
display: flex;
    
width: 57%;
    
gap: 83px;
    
justify-content: center;
    
align-items: center;
    
flex-wrap: wrap;
    
margin-top: 46px;
}
.two{

display: flex;

flex-direction: column;

justify-content: center;

align-items: center;

gap: 11px;
}
.blue-txt{

color: #2857d1;

font-weight: 900;

font-size: 23px;
}
/* .txt{} */

.section3{
    height:325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    margin-top: 60px;
    background-color: #feb75f;
    padding: 42px 0px;
}
.form{
    
}
.input{
    
padding: 10px;
    
border-radius: 5px;
    
border: 1px solid black;
}
.btn-calcule{
    
padding: 12px 49px;
    
border-radius: 10px;
    
border: none;
    
background-color: #2857d1;
    
color: white;
cursor: pointer;
}
.btn-calcule:hover{
    background-color: #819bde;
}
.simulateur{
    font-weight: 900;
    font-size: 43px;
}
.section4{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    padding: 48PX 0;
}
.cartes{
    
display: flex;
    
gap: 18px;
}
.carte{
    
/* border: 1px solid gray; */
    
padding: 20px 131PX 90PX 29PX;
    
border-radius: 6px;
    
box-shadow: 0PX -1PX 9PX 1PX LIGHTGRAY;
}
.livraison-txt {

color: #2b57d9;

font-weight: 900;

font-size: 16px;
}
.jours{
    
color: #3157e0;
    
font-size: 15px;
    
font-style: italic;
}
.txt-devis{

font-weight: 900;

font-size: 43px;
}
.btn-imprimer{
    
background-color: white;
    
border: 1px solid #2b57d9;
    
color: #2b57d9;
    
padding: 10PX 54px;
    
border-radius: 7px;
    
font-weight: 500;
}
.prix{
    
font-weight: 400;
    
FONT-SIZE: 40px;
}
.btn-plus{
    border: none;
    padding: 10px 35px;
    border-radius: 7px;
    color: white;
    background-color: #feb75f;
    position: relative;
    top: 75px;
    left: 116px;
}
.footer{
    background: linear-gradient(white,#c4d1f2);
}
.footer .logo{
    
padding: 63px 124px 9px 111px;
}
.body-footer{

display: flex;

padding: 10px 70px;
justify-content: space-around;
}
.info{
    color: #2857d1;
}
.links{
list-style-type: none;
line-height: 30px;
}
.links li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.right{
    padding: 0;
    margin: 0 0 0px 463px;
    FONT-SIZE: 14px;
}
.social-logos{
    display: flex;
    gap: 10PX;
}
.social{

}
.logo-menu{

display: none;
    
gap: 4px;
    
flex-direction: column;
}
.tiret{



border: 2px solid BLACK;
width: 25px;
border-radius: 10px;
}
@media  (max-width:768px){
    .logo-menu{
        display: flex;
    }
    
    .menu{
        display: none;
    }

    .header{
        padding: 34px 20px 0px 32px;
    }
    .une-solution{
        width: 71%;
    }
    .dropp{
        height: 258px;
        width: 345px;;
    }
    .btn-obtenez{
        margin-left: 50%;
    }
    .texte{
        padding: 55px 0 56px 50px;
    }
    .liv-rapide{
        font-size: 27px;
    }
    .liv-national{
        width: 53%;
    }
    .four-description{
        width: 62%;
        gap: 30px;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
    .section3{
        padding: 40px 0px 181px 0;
    }
    .cartes{
        flex-direction: column;
    }
    .simulateur{
        font-size: 37px
    }
    .txt-devis{
        font-size: 37px;
    }
    .social{
        margin-left: 39px;
    }
    .body-footer{
        flex-direction: column;
    }
}